<h1><%= "Welcome #{name}" %></h1>

<a href="/logout"><button>Logout</button></a>

<ul>
  <% users_data.map do |hash| %>
    <% if session[:user_id] != hash["id"].to_i %>
      <a href="/user/<%= hash["username"] %>"><li><%= hash["username"] %></li></a>
    <% end %>
  <% end %>
</ul>

<ul><% users_fish_data.each do |fish_hash| %>
      <li><a href="<%= fish_hash["wiki_link"] %>"><%= fish_hash["fishname"] %></a></li>
  <% end %>
</ul>


